table {
    border: 1px solid;
    border-collapse: collapse; /* merges adjacent borders */
    text-align: center; /* centres text horizontally */
}

table td,
table th {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 11pt;
    border: 1px solid; /* grid lines */
    padding: 6px 10px; /* spacing inside cells */
    vertical-align: middle; /* centres text vertically */
}

table th {
    background-color: #e6e6e6; /* header slightly darker grey */
}

table tr:nth-child(even) {
    background-color: #f9f9f9; /* very light grey */
}

table tr:nth-child(odd) {
    background-color: #efefef; /* slightly darker grey */
}

tfoot {
    border-top: 1px solid;
}